html { 
	background-color: black;
	color: white;
	font-family: 'Fredoka One', cursive;
}

img {
	display: inline-block;
	margin: 10px 1%;
	width: 90%;
}

#gif-container {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
}

.container {
	border: 2px solid grey;
	margin-bottom: 40px;
}

.title {
	font-size: 1.5em;
	letter-spacing: 0.08em;
	text-align: center;
	position: relative;
}

#form-search input {
	display: block;
	margin: 20px auto;
	text-align: center;
	font-family: 'Fredoka One', cursive;
	letter-spacing: 0.08em;
	border: none;
	border-bottom: 4px dashed white;
	background-color: transparent;
	font-size: inherit;
	-webkit-appearance: textfield;
	color: #B9F6FF;
	text-shadow: 4px 4px 8px grey; 
	text-transform: uppercase;
	font-weight: bold;
}

#form-search input::placeholder {
	color: #B9F6FF;
}

#cursor {
	position: relative;
	right: 20px;
	border-left: .09em solid white;
	margin-right: 10px;
	-webkit-animation: blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }



 /* ----- MEDIA QUERIES -----  */
@media (min-width: 640px) {
	
}

@media (min-width: 800px) {
	.title {
		font-size: 3em;
	}

	#form-search input {
		display: inline-block;
		margin: 0 0 0 10px;
	}

	img {
		width: auto;
	}
}