html { 
	background-color: black;
	color: #edffff;
}

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

main {
	margin: 1vh 1vh;
	height: 98vh;
	width: calc(100vw - 2vh);
	overflow: hidden;
}

.container {
	columns: 250px;
	height: 130%;
	width: 100%;
}

.gif-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
}

.gif, .still {
	width: 100%;
	height: auto;
	opacity: 1;
	/* prevents flickering on safari  */
	will-change: transform;
	transition: opacity 0.6s ease-in-out,
				transform 0.1s ease-in-out;
}

.still {
	position: relative;
	/* z-index required for scaling gifs on hover  */
	z-index: 5;
}

.gif {
	position: absolute;
	top: 0;
	left: 0;
	/* z-index required for scaling gifs on hover  */
	z-index: 6;
}

.gif-wrapper:hover .gif { 
	z-index: 11;
	transform: scale(1.1);
}
.gif-wrapper:hover .still { 
	z-index: 10;
	transform: scale(1.1);
}

.hidden {
	opacity: 0;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 15;
}

footer p {
	display: inline-block;
	font-family: 'Courier';
	font-size: 0.8em;
	left: 0;
	margin: 0;
	padding: 4px 6px;
	background-color: black;
	border-top-right-radius: 4px;
}

footer a {
	color: #B9F6FF;
}

#giphy {
	position: absolute;
	bottom: 0px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	border-top-left-radius: 4px;
}